body {
  font-family: sans-serif;
  background-color: #1c1c1e;
  color: #d0cd9a;
  padding: 5px;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.assignment section {
  position: relative;
}

.assignment img {
  max-width: 100%;
}
